body,
html {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #333333;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-calculator {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #1a1515;
  border-radius: 20px;
  border: 5px #1a1515 solid;
}

.row-buttons {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}